[Unit]
Description=openbank data warehouse application namespace
PartOf=dwh.service
After=dwh.service
ConditionPathExists=/etc/init/dwh.conf

[Service]
Type=simple
EnvironmentFile=/etc/init/dwh.conf
Environment="PROG_HOME=/usr/share/openbank/dwh"
StartLimitBurst=0
ExecStart=/usr/bin/dwh-app
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=1
KillSignal=SIGINT
SuccessExitStatus=130
KillMode=process

[Install]
WantedBy=multi-user.target
