[Unit]
Description=openbank data warehouse configuration watcher
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=echo 'restarting data-warehouse (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart data-warehouse.service'

[Install]
WantedBy=data-warehouse.service