[Unit]
Description=openbank data warehouse namespace
After=inetd.service
ConditionPathExists=/etc/data-warehouse/conf.d/init.conf

[Service]
Type=oneshot
ExecStart=/bin/echo start data-warehouse namespace
RemainAfterExit=yes
KillMode=control-group

[Install]
WantedBy=multi-user.target
