[Unit]
Description=openbank data warehouse namespace
After=inetd.service
ConditionPathExists=/etc/init/data-warehouse.conf

[Service]
Type=oneshot
ExecStart=/bin/echo start data-warehouse namespace
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
