<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT_SYNC">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4level - %msg%n</pattern>
		</encoder>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="STDOUT">
    <queueSize>1000</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT_SYNC"/>
  </appender>

  <logger name="slick" level="WARN" />
  <logger name="slick.jdbc" level="WARN"/>

  <logger name="com.zaxxer.hikari" level="WARN" />
  <logger name="com.openbank.dwh.persistence.Postgres" level="WARN" />

  <root level="${DATA_WAREHOUSE_LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
