Package: dwh
Version: 0.0.0+initial-skeleton
Section: misc
Priority: optional
Architecture: armhf
Vcs-Git: https://github.com/jancajthaml-openbank/data-warehouse.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Description: opebank data-warehouse
 Service for transforming primary data to secondary data of OpenBank system.

